/.sconsign.dblite
/kbuild.*
/Linux-*
/Darwin-*
/build
*~
*.o
/*.kdev*
*.cmake
*.txt
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
/bin
/CMakeFiles
Makefile
/src/doc/*
