/.sconsign.dblite
/build
/bin
/src/doc/doc
/Makefile.config
/Darwin-*
/*.kdev*
/Linux-*
*.o
*.cmake
*.txt
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
*~
__pycache__
workspace.mel
