/.sconsign.dblite
/kbuild.*
/Linux-*
/Darwin-*
/build
*~
*.o
/*.kdev*
*.cmake
*.txt
cmake_install.*
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
/bin
/CMakeFiles
/include/
/lib/
/py/
*Makefile*
*Doxyfile
*.tlog
*.lastbuildstate
*.stamp
*.depend
*.list
*.rule
*manifest*
*.unsuccessfulbuild
*.obj
*.cache
*.build
._*
CMakeScripts
CMakeFiles
partio.build
/src/doc/*
build-*

